<% layout('/layouts/boilerplate') %>

<div>
    <h3 class="my-3 page-header mt-1 ms-3">New User Registration</h3>
</div>

<form action="/users" method="POST" class="validated-form" novalidate>
    <div class="bg-light col-sm-10 col-md-6 mx-auto p-3 shadow rounded-3">
        <div>
            <h4 class="mt-1 page-header mt-1">User Information</h4>
            <span class="mt-0" style="font-size: 0.8em;"><em class="text-danger align-bottom">*required</em></span>
        </div>
        <div class="mt-2">
            <label for="Account Type" class="form-label">Account Type:<span><em class="text-danger">*</em></span></label>
            <select name="role" id="role" class="form-control w-25" required>
                <option value="" disabled selected>Please Select</option>
                <% for (let role of roles) { %>
                    <option value="<%= role %>"><%= role[0].toUpperCase() + role.slice(1) %></option>
                <% } %>
            </select>
        </div>
        <div class="mt-2">
            <label for="username" class="form-label">Username:<span><em class="text-danger">*</em></span></label>
            <input type="text" name="username" id="userName" class="form-control" required>
        </div>
        <div class="mt-2">
            <label for="password" class="form-label">Password:<span><em class="text-danger">*</em></span></label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="mt-2">
            <label for="passwordConfirm" class="form-label">Confirm Password:<span><em class="text-danger">*</em></span></label>
            <input type="password" name="" id="passwordConfirm" class="form-control" required>
                <em class="text-danger" id="confirmMsg" style="font-size: 0.8em;"></em>
        </div>
        <div class="mt-2">
            <label for="name" class="form-label">First Name:<span><em class="text-danger">*</em></span></label>
            <input type="text" name="firstName" id="firstName" class="form-control" required>
        </div>
        <div class="mt-2">
            <label for="name" class="form-label">Last Name:<span><em class="text-danger">*</em></span></label>
            <input type="text" name="lastName" id="lastName" class="form-control" required>
        </div>
        <div class="mt-2">
            <label for="email" class="form-label">Email:<span><em class="text-danger">*</em></span></label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div>
            <input type="text" value="active" name="status" class="d-none">
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button id="submit" class="btn btn-success mx-1" disabled>Submit</button>
            <a href="/users/" class="btn btn-danger mx-1">Cancel</a>
        </div>
    </div>
</form>
